html {
    font-family: Roboto, sans-serif;
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: lightgray;
}

#fm-inscripcion-bt-envio {
    font-size: 15px;
    margin-top: 50px;
}



#contenedor-acceso-cuenta {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 25%;
    border-radius: 25px;
    background-color: azure;
}

#contenedor-botones-desplazamiento-materias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    user-select: none;
}

#contenedor-secciones-aula {
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 60px;
    width: 25%;
}

#secciones-aula {
    margin: 0;
    list-style-type: square;
}

#contenedor-secciones-aula li {
    border: 1px solid black;
    box-sizing: border-box;
    cursor: pointer;
    font-style: italic;
    /* padding: 10px 0px 10px 5px; */
    height: 50px;
    width: 200px;
}

#contenedor-secciones-aula a {
    color: black;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-indent: 10px;
}

#titulo-inscripción {
    text-align: center;
    margin: 50px 0;
}

#titulo-seccion-principal {
    text-align: center;
    margin: 50px 0;
}

#titulo-seccion-programa {
    padding-left: 20px;
    margin: 50px 0;
}

#titulo-seccion-calificaciones {
    padding-left: 20px;
    margin: 50px 0;
}

#li-seleccionado {
    background-color: whitesmoke;
}

#contenedor-secciones-aula li:hover {
    background-color: whitesmoke;
}

#contenedor-inscripcion {
    background-color: white;
    box-shadow: 0 0 10px 1px rgb(158, 158, 158);
    box-sizing: border-box;
    font-size: 18px;
    padding: 0 20px 40px 20px;
    margin: 2% 0%;
    width: 60%;
}

#contenedor-seccion-principal {
    background-color: white;
    box-shadow: 0 0 10px 1px rgb(158, 158, 158);
    box-sizing: border-box;
    font-size: 18px;
    padding: 0 20px 40px 20px;
    margin: 2% 0%;
    width: 60%;
}

#contenedor-seccion-programa {
    background-color: white;
    box-shadow: 0 0 10px 1px rgb(158, 158, 158);
    box-sizing: border-box;
    font-size: 18px;
    padding: 0 20px 40px 20px;
    margin: 2% 0%;
    width: 60%;
}

#contenedor-seccion-calificaciones {
    background-color: white;
    box-shadow: 0 0 10px 1px rgb(158, 158, 158);
    box-sizing: border-box;
    font-size: 18px;
    padding: 0 20px 40px 20px;
    margin: 2% 0%;
    width: 60%;
}

#contenedor-seccion-calificaciones span {
    font-weight: bold;
}


#ruta-navegacion {
    background-color: rgb(62, 149, 149);
    box-sizing: border-box;
    display: flex;
    height: 40%;
    align-items: center;
    width: 100%;
}

#ruta-navegacion a {
    color: rgb(237, 237, 237);
    margin: 0 20px;
    text-decoration: none;
    line-height: 100%;
}

#ruta-navegacion span {
    color: rgb(183, 182, 182);
    font-size: 25px;
    user-select: none;
    line-height: 100%;
}

#ruta-navegacion a:hover {
    color: white;
}

#contenedor-contenido-excepto-encabezado {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    width: 100%;
}

#contenedor-contenido-inscripcion {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}

#contenedor-contenido-columnas-principal {
    display: flex;
    height: 90%;
    width: 100%;
}

#contenedor-contenido-columnas-programa {
    display: flex;
    height: auto;
    width: 100%;
}

#contenedor-contenido-columnas-calificaciones {
    display: flex;
    height: 90%;
    width: 100%;
}


#contenedor-menu-y-ruta-navegacion {
    height: 100%;
    width: 100%;
}

#contenedor-nombre-materia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
}

#contenedor-seleccion-aula:hover {
    background-color: rgb(218, 234, 248);
    box-shadow: 0 0 10px 1px black;
}

#contenedor-seleccion-aula {
    height: 70%;
    width: 40%;
    background-color: azure;
    border: 2px solid black;
}

#encabezado {
    background-color: rgb(54, 192, 197);
    display: flex;
    height: 10%;
}

#img-materia {
    height: 60%;
    width: 100%;
}

#inicio-sesion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    font-size: 30px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: white;
    background-color: dodgerblue;
}

#form-inscripcion {
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 20px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 50px;
    width: 60%;
}

#form-inscripcion input[type="text"] {
    font-size: 15px;
    margin-top: 10px;
}

#form-inscripcion input[type="checkbox"] {
    margin: 15px 0px;
}

#form-inscripcion label[for*="tf"] {
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

#materias-inscripcion {
    font-weight: bold;
    margin-top: 50px;
}

#form-inscripcion p[id*="error"] {
    color: red;
    margin-top: 10px;
}

#form-usuario-contraseña {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

#link-materia {
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

#menu {
    display: flex;
    justify-content: end;
    height: 60%;
    width: 100%;
}

#nombre-materia {
    margin: 0;
    height: auto;
    width: 100%;
    text-align: center;
}

#menu a {
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    height: 100%;
    padding: 10px;
    text-decoration: none;
}

#menu a:hover {
    background-color: rgb(120, 212, 208);
}

.entrada {
    width: 70%;
}

.mensaje {
    color: red;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
}

area {
    cursor: pointer;
}